.jumbotron {
    text-align: center;
    background-image: url("https://hdqwalls.com/download/blur-blue-gradient-cool-background-sp-2048x1152.jpg");
    color: white;
    height: 400px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.display-3 {
    padding: 30px;
}