.header {
    background-color: red;
    height: 100px;
    width: 100%;
    color: white;
}

.page-name {
    float: left;
    margin: 30px 20px 0px 100px;
}

.instructions {
  position: absolute;
  left: 40%;
  margin: 30px 0px 0px;

}
.score {
position: absolute;
right: 25%;
margin: 30px 0px 0px;
}

.best-score {
position: absolute;
right: 10%;
margin: 30px 0px 0px;
}

.vl {
    border-left: 6px solid white;
  height: 35px;
  position: absolute;
  right: 21%;
  top: 4%
}